<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выполненные работы</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        img.card-img-top {
            width: 350px;
            height: 500px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<header class="bg-dark text-white p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="h1">Барбершоп</div>
            <nav>
                <a href="index.html#home" class="text-white mr-3">Главная</a>
                <a href="about.html#about" class="text-white mr-3">О нас</a>
                <a href="services.html#services" class="text-white mr-3">Услуги</a>
                <a href="portfolio.html#portfolio" class="text-white mr-3">Работы</a>
                <a href="index.html#reviews" class="text-white mr-3">Отзывы</a>
                <a href="index.html#contacts" class="text-white">Контакты</a>
            </nav>
        </div>
    </div>
</header>
<main>
    <section id="portfolio" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">Наши Работы</h2>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа1.jpg" class="card-img-top" alt="Работа 1">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа2.jpg" class="card-img-top" alt="Работа 2">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа3.jpg" class="card-img-top" alt="Работа 3">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа4.jpg" class="card-img-top" alt="Работа 4">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа5.jpg" class="card-img-top" alt="Работа 5">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа6.jpg" class="card-img-top" alt="Работа 6">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа7.jpg" class="card-img-top" alt="Работа 4">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа8.jpg" class="card-img-top" alt="Работа 5">
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/works/Работа9.jpg" class="card-img-top" alt="Работа 6">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
