<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<header class="bg-dark text-white p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="h1">Барбершоп</div>
            <nav>
                <a href="index.html#home" class="text-white mr-3">Главная</a>
                <a href="about.html#about" class="text-white mr-3">О нас</a>
                <a href="services.html" class="text-white mr-3">Услуги</a>
                <a href="index.html#portfolio" class="text-white mr-3">Работы</a>
                <a href="index.html#reviews" class="text-white mr-3">Отзывы</a>
                <a href="index.html#contacts" class="text-white">Контакты</a>
            </nav>
        </div>
    </div>
</header>
<main>
    <section id="services" class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-4">Наши Услуги</h2>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Мужская%20стрижка.png" class="card-img-top" alt="Стрижка">
                        <div class="card-body">
                            <h3 class="card-title">Мужская стрижка</h3>
                            <p class="card-text">Профессиональная стрижка для мужчин всех возрастов. Наши мастера учтут все ваши пожелания.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Бритье%20головы%20шейвером.png" class="card-img-top" alt="Бритье">
                        <div class="card-body">
                            <h3 class="card-title">Бритье головы шейвером</h3>
                            <p class="card-text">Классическое бритье шейвером с использованием лучших средств по уходу за кожей.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Детская%20стрижка.jpg" class="card-img-top" alt="Укладка бороды">
                        <div class="card-body">
                            <h3 class="card-title">Детская стрижка</h3>
                            <p class="card-text">Ваш ребенок будет самым стильным в школе! Проконсультируем и выберем образ, выполним индивидуальную стрижку, покажем мультфильм и угостим конфетами 🙂</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Камуфляж%20седины.png" class="card-img-top" alt="Спа уход для лица">
                        <div class="card-body">
                            <h3 class="card-title">Камуфляж седины</h3>
                            <p class="card-text">При помощи мужской краски закрашиваем под ваш естественный цвет волос седину</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Королевское%20бритье.png" class="card-img-top" alt="Камуфлирование седины">
                        <div class="card-body">
                            <h3 class="card-title">Королевское бритье</h3>
                            <p class="card-text">Королевское бритье отличается от других старинных и новомодных способов бритья тем, что основным инструментом выступает опасная бритва. Новичкам в этих делах бритва подразумевает высокие риски травмирования кожи, порезов и ссадин, а также раздражения кожи. Поэтому королевскому бритью нужно тщательно обучаться, практиковаться и получать рекомендации в салонах для мужчин</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Окантовка%20+%20укладка.jpg" class="card-img-top" alt="Окрашивание волос">
                        <div class="card-body">
                            <h3 class="card-title">Окантовка + укладка</h3>
                            <p class="card-text">Окантовка волос мужская — это операция, выполняемая парикмахером, которая подразумевает придание стрижке завершенного внешнего вида и правильного контура. Также как и в случае выбора стрижки, так и в случае подбора способа окантовки, специалист учитывает целый ряд критериев, будь то форма лица мужчины и типаж внешности, возраст, общий стиль образа, особенности шеи, роста волос и их структуры.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Оформление%20бороды.jpg" class="card-img-top" alt="Окрашивание волос">
                        <div class="card-body">
                            <h3 class="card-title">Оформление бороды</h3>
                            <p class="card-text">Подчеркните брутальность аккуратной бородой. Обработаем контуры опасной бритвой и придадим бороде правильную симметричную форму</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Спа%20уход%20для%20лица.jpg" class="card-img-top" alt="Окрашивание волос">
                        <div class="card-body">
                            <h3 class="card-title">Спа уход для лица</h3>
                            <p class="card-text">Специальные методы воздействия позволяют очистить поры от мелких частиц грязи, закупоренных сальных желёз, отмерших клеток эпидермиса, убрать комедоны, глубокие воспаления и застарелые уплотнения. В процессе также усиливается кровоснабжение, стимулируются репаративные и обменные процессы, улучшается общее состояние кожи</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <img src="../static/img/services/Стрижка%20машинкой.png" class="card-img-top" alt="Окрашивание волос">
                        <div class="card-body">
                            <h3 class="card-title">Стрижка машинкой</h3>
                            <p class="card-text">Выполним качественную стрижку машинкой при помощи разных насадок с явно выраженными контурами</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
